* {

}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;

    padding-bottom: 2500px; /* Height of the page */

    font-family: "Gill Sans", Monaco, monospace;
    /*font-family: generalFont, sans-serif;*/

    /*background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=2&opacity=49");*/
    /*background: #bdbec2;*/
    /*PURPLE*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,230,250,1) 46%, rgba(252,252,252,1) 100%);*/
    /*GREEN*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,250,237,1) 46%, rgba(252,252,252,1) 100%);*/

    /*fd0000*/

    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgb(243, 245, 250) 46%, rgba(252,252,252,1) 100%);*/


    /*background: linear-gradient(170deg, #ffffff, #ebcef0, #e8b7f0, #ebcef0, #ffffff);*/
    /*background-size: 1000% 1000%;*/

    /*-webkit-animation: purpleGradientBackground 2s ease infinite;*/
    /*-moz-animation: purpleGradientBackground 2s ease infinite;*/
    /*animation: purpleGradientBackground 2s ease infinite;*/
}

#body-background-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("images/page_cover/fist_haircut.jpg");
    filter: grayscale(100%);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 70%;
    z-index: -1;

    /*margin: 100px 0 100px 0;*/

    display: flex;
    justify-content: center;
    align-items: center;

}

#cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-sentence {
    margin: 1%;
    /*padding: 1%;*/
    text-align: center;
    font-size: 25px;
    color: #1e1c1e;
    font-family: coverFont;
    text-transform: capitalize;


    /*top: 50%;*/
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    /*opacity: 1;*/
    /*z-index: 100;*/
    /*color: rgba(0, 0, 0, 0.97);*/


}

/*@-webkit-keyframes purpleGradientBackground {*/
/*    0%{background-position:53% 0%}*/
/*    46%{background-position:48% 100%}*/
/*    100%{background-position:53% 0%}*/
/*}*/
/*@-moz-keyframes purpleGradientBackground {*/
/*    0%{background-position:53% 0%}*/
/*    46%{background-position:48% 100%}*/
/*    100%{background-position:53% 0%}*/
/*}*/
/*@keyframes purpleGradientBackground {*/
/*    0%{background-position:53% 0%}*/
/*    46%{background-position:48% 100%}*/
/*    100%{background-position:53% 0%}*/
/*}*/

@font-face {
    font-family: coverFont;
    src: url(files/fonts/platinum_sign/Platinum_Sign.ttf);
}


@font-face {
    font-family: logoFont;
    /*src: url(files/fonts/VCR_OSD_MONO_1.001.ttf);*/
    src: url(files/fonts/CloisterBlack.ttf);
}


/************/

/* HEADER */
#header {
    padding: 10px;
    text-align: center;
    background: white;

    /*width: 90%;*/
    /*margin-top: 5%;*/
    /*margin-bottom: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*border-radius: 0 0 5px 5px;*/
    /*visibility: hidden;*/
    opacity: 0;
    transition: visibility 0s, opacity 2.5s linear;
    z-index: 100;


}

#header.show {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    text-align: center;
}

#header, #footer {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.card {
    /*box-shadow:0 -5px  5px rgba(204, 204, 204, 0.8),0 5px  5px rgba(204, 204, 204, 0.8);*/
    /*-moz-box-shadow:0 -10px  5px rgba(204, 204, 204, 0.8),0 10px  5px rgba(204, 204, 204, 0.8);*/
    /*-webkit-box-shadow:0 -10px  5px rgba(204, 204, 204, 0.8),0 10px  5px rgba(204, 204, 204, 0.8);*/
    /*-o-box-shadow:0 -10px  5px rgba(204, 204, 204, 0.8),0 10px  5px rgba(204, 204, 204, 0.8);*/
}

#logo {
    /*font-family: logoFont, monospace;*/
    /*font-weight: lighter;*/
    /*letter-spacing: 2.5px;*/

    z-index: 100;
}


/*hr.vertical-divider{*/
/*    border:         none;*/
/*    border-left:    1px solid hsla(200, 10%, 50%,100);*/
/*    height:         3vh;*/
/*    width:          1px;*/
/*}*/


#logo, #navbar, #nav-link-div, .nav-links, #footer, #footer.show {
    /*color: black;*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/************/

/* DARK MODE */
body.dark, body.dark #header, body.dark #navbar, body.dark #footer.show, body.dark .nav-links, body.dark #footer body.card body.card-title body.card-content body.dark .card-date {
    background-color: #1e1c1e;
    color: #d4cdcd;

    /*transition: 1.0s;*/
}

body.dark a.read-more-link {
    display: block;
    color: darkgray;
    text-decoration: none;

}

body.dark a.read-more-link:hover {
    background-color: #d4cdcd;
    color: #1e1c1e;
    text-decoration: none;

}


a.read-more-link {
    width: fit-content;
    text-decoration: none;
}

a.read-more-link {
    display: block;
    color: darkgray;
    text-decoration: none;

}

a.read-more-link:hover {
    background-color: #000000;
    color: white;
    width: 100px;
    text-decoration: none;

}

a.read-more-link:visited {
    text-decoration: none;

}

/* The End */


/*LINKS*/
/*a:hover, body.dark a:hover {*/
/*    transition: 1.5s;*/

/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/
/************/

/* NAVBAR */
#navbar {
    background-color: #fff;
    z-index: 100;
}

#nav-link-div {
    max-height: 16px;

    padding-bottom: 20px;
    transition: visibility 0s, opacity 2.5s ease-in-out;
    z-index: 100;
}

.stickyNavLinks {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 100;
}

.nav-links {
    color: black;
    font-size: 14px;

    /*text-transform: uppercase;*/
    text-decoration: none;
    z-index: 100;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*padding: 20px;*/
    /*transition: all 1.35s ease;*/
    width: 100%;

    max-height: 7%;
    padding-bottom: 20px;
    /*border-radius: 0 0 5px 5px;*/

    transition: visibility 0s, opacity 4.5s linear;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    z-index: 100;

    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}

.sticky #logo {
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    font-size: 22px;
    z-index: 100;
}

/*#header, #navbar, .sticky {*/
/*    opacity: 0.5;*/
/*}*/
/************/

/* Left column */
.leftcolumn {
    float: left;
    width: 100%;
}

/* Add a card effect for articles */
.card {
    /*background-color: white;*/
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;

    max-width: 670px;


    /*height: 400px;*/
}

.card-title {
    font-size: 12px;
}

.card-content {

}

.card-date {
    /*font-size: 12px;*/
  text-decoration: none;

    color: darkgray;
}

.card-text {
    font-size: 16px;

}


/*.card-image{*/
/*    height: auto;*/
/*    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bol.com%2Fnl%2Ff%2Fthe-autobiography-of-malcolm%2F30108797%2F&psig=AOvVaw0ktOE9N-GwFSBoujmWn-EA&ust=1595953463614000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPil9ozs7eoCFQAAAAAdAAAAABAJ ");*/
/*    !*text-align: center;*!*/
/*}*/

.card-cover-picture {
    max-width: 670px;
    height: 400px;
    width: 100%;

    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

hr.between-cards {
    border: 0;
    max-width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/************/

/* FOOTER */
#footer {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 2.5s ease-in-out;
    background: white;
    max-height: 7%;

}

#footer.show {
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7%; /* Height of the footer */

    /*padding: 10px;*/

    text-align: center;

    visibility: visible;
    opacity: 1;
}

#copyright-text {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*SOCIAL MEDIA LINKS*/


/************/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .sticky {
        /*max-height: 7%;*/
        z-index: 100;
    }

    .sticky #logo {
        /*margin-top: 10px;*/
        /*font-size: 24px;*/
        margin: 0;
        /*background: yellow;*/
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    #navbar.sticky {
        max-height: 7%;
        z-index: 100;

    }

    .nav-link-div {
        padding-top: 15px;
        z-index: 100;
    }

    .leftcolumn {
        width: 100%;
        padding: 0;
    }

    .card {
        /*background-color: white;*/
        padding: 1px;
        margin: 50px 20px 50px 20px;


        /*height: 400px;*/
    }

    .card-cover-picture {
        height: 220px;
        width: 100%;

    }

    #cover-sentence {
        margin: 1%;
        /*padding: 1%;*/
        text-align: center;
        font-size: 20px;
        color: #1e1c1e;
        font-family: coverFont;
        text-transform: capitalize;


        /*top: 50%;*/
        /*left: 50%;*/
        /*-ms-transform: translate(-50%, -50%);*/
        /*transform: translate(-50%, -50%);*/
        /*opacity: 1;*/
        /*z-index: 100;*/
        /*color: rgba(0, 0, 0, 0.97);*/


    }

    #footer.show {
        padding: 0;
    }

    #copyright-text {
        position: absolute;
        margin: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        font-size: 14px;
        font-weight: lighter;
    }
}

/************/

/*EXPERIMENYAL*/

/*DIVIDER NAVIGATION BAR*/


/*TEXT WITH CORRECTION*/
/*body {*/
/*    !*font-family: 'Roboto Mono', monospace;*!*/
/*    !*font-size: 3em;*!*/
/*    !*height: 100vh;*!*/
/*    !*display: flex;*!*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*p {*/
/*  !*width: 30%;*!*/
/*    text-align: center;*/
/*}*/

/*#corrected-text {*/
/*    margin: auto;*/
/*    width: 50%;*/
/*    border: 3px solid #fae6fa;*/
/*    padding: 10px;*/
/*    margin-top: 20%;*/
/*    font-size: x-large;*/
/*}*/


/*del {*/
/*    text-decoration-color: red;*/
/*}*/

/*ins {*/
/*    text-decoration: none;*/
/*    !*font-family: 'Roboto Mono', monospace;*!*/
/*    !*font-size: 1.5em;*!*/
/*    color: red;*/
/*    position:absolute;*/
/*    z-index: -1;*/
/*    transform:rotate(-10deg);*/
/*    margin-left: -10px;*/
/*    margin-top: -25px;*/
/*}*/


