* {

}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    width: 100%;
    min-width: 100%;

    padding-bottom: 20%; /* Height of the page */

    font-family: 'Montserrat', sans-serif;

    /*PURPLE*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,230,250,1) 46%, rgba(252,252,252,1) 100%);*/
    /*GREEN*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,250,237,1) 46%, rgba(252,252,252,1) 100%);*/
    /*BLUE*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgb(243, 245, 250) 46%, rgba(252,252,252,1) 100%);*/
}

/* BODY BANNER*/

#body-background-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/page_cover/fist_haircut.jpg");
    filter: grayscale(100%);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 70%;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-sentence {
    margin: 1%;
    text-align: center;
    font-size: 25px;
    color: #151315;
    font-family: coverFont, serif;
    text-transform: capitalize;
}

/************/

/* FONTS */
@font-face {
    font-family: 'Montserrat', sans-serif;
    /*src: url(files/fonts/VCR_OSD_MONO_1.001.ttf);*/
    src: url(../../files/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Ransom;
    src: url(../../files/fonts/ransom/ransom.ttf);
}

p {
    font-family: 'Montserrat', sans-serif;
}

/************/

/* HEADER */
#header {
    padding: 10px;
    text-align: center;
    background: white;

    opacity: 0;
    /*transition: visibility 0s, opacity 2.5s linear;*/
    z-index: 100;
}

#header.show {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    text-align: center;
}

#header, #footer {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

#logo {
    z-index: 100;
}

#logo, #navbar, #nav-link-div, .nav-links, #body-background-image, #cover-sentence, .card-date, .card-cover-picture, .read-more-link, #footer, #footer.show {
    /*color: black;*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/************/

/* NAVBAR */
#navbar {
    background-color: #fff;
    z-index: 100;
}

/*LINKS*/

#nav-link-div {
    max-height: 16px;
    word-spacing: 20px;

    padding-bottom: 20px;
    transition: visibility 0s, opacity 2.5s ease-in-out;
    z-index: 100;
}

#two-words-no-space {
    word-spacing: 0px;

}

.stickyNavLinks {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 100;
}

.nav-links {
    color: black;
    font-size: 14px;

    /*text-transform: uppercase;*/
    text-decoration: none;
    z-index: 100;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    max-height: 7%;
    padding-bottom: 20px;
    transition: visibility 0s, opacity 4.5s linear;
    z-index: 100;

    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
}

.sticky #logo {
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    font-size: 22px;
    z-index: 100;
}

/************/

/* CARD */
/* Add a card effect for articles */
.card {
    padding: 5% 15%;
    margin: 0 auto;

    max-width: 670px;
    /*height: 400px;*/
}

.card-cover-picture {
    /*max-width: 670px;*/
    /*height: 400px;*/
    width: 1000px;
    position: relative; /* where the next element will be automatically positioned */
    display: inline-block; /* causes element width to shrink to fit content */
    left: 50%; /* moves left side of image/element to center of parent element */
    transform: translate(-50%); /* centers image/element on "left: 50%" position */

    margin-top: 50px;
    margin-bottom: 50px;


    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.card-title {
    font-size: 28px;
    font-family: Montserrat, sans-serif;
    /*font-family: Ransom, sans-serif;*/
    font-weight: 600;
    /*font-style: italic;*/

    width: 1000px;
    position: relative; /* where the next element will be automatically positioned */
    display: inline-block; /* causes element width to shrink to fit content */
    left: 50%; /* moves left side of image/element to center of parent element */
    transform: translate(-50%); /* centers image/element on "left: 50%" position */
}

.card-date {
    /*font-size: 12px;*/
    text-decoration: none;
    font-size: 16px;

    color: darkgray;
}

.card-caption {
    font-size: 16px;
    color: darkgray;
}

.card-content {
    text-align: justify;
    /*letter-spacing: 0.2px;*/
    line-height: 1.6;
    font-weight: 400;

}

.card-content::first-letter {
    /*font-size: 200%;*/
    /*font-weight: bold;*/
    float: left;
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
    margin-top: -4px;
    margin-bottom: -6px;
    /*color: white;*/
    /*background-color: black;*/
}


/* READ MORE */
a.read-more-link {
    width: fit-content;
    display: block;
    color: darkgray;
    text-decoration: none;
}

a.read-more-link:hover {
    background-color: #000000;
    color: white;
    width: 100px;
    text-decoration: none;
}

a.read-more-link:visited {
    text-decoration: none;
}

/* DIVIDER */
hr.between-cards {
    border: 0;
    margin-top: 10%;
    /*margin-bottom: 30%;*/

    max-width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/************/


/* COOKIE NOTICE */
.cookieNotice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    opacity: 0.9;
    text-align: center;
    line-height: 17px;
    padding: 12px 73px;
    font-size: 12px;

    /*@media  {*/
    /*    font-size: 10px;*/
    /*    line-height: 11px;*/
    /*    padding: 9px 40px;*/
    /*}*/

    /*-moz-box-shadow: 0 0 10px #ccc;*/
    /*-webkit-box-shadow: 0 0 10px #ccc;*/
    /*box-shadow: 0 0 10px #ccc;*/
    user-select: none;


}


a {
    color: #FFFFFF;
    /*text-decoration: underline;*/
    user-select: none;
}

.closeButton {
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translate(0, -50%);
    text-decoration: none;
    user-select: none;
    color: #FFFFFF;
    font-size: 20px;
}

.cookieNotice {
    box-sizing: border-box;
    user-select: none;
}

.hideme {
    display: none;
}

/*@wrapper_width: 1192px;*/
/*@mobile_width: 640px;*/

/*@desktop: ~"all and (min-width: 1192px)";*/
/*@tablet: ~"all and (min-width: 641px) and (max-width: @{wrapper_width})";*/
/*@mobile: ~"all and (max-width: @{mobile_width})";*/


.wrapper {

    /*max-width: @wrapper_width;*/
    margin: 0 auto;
    padding: 0 20px;
}

/*html, body {*/
/*  margin: 0;*/
/*}*/

/************/


/* FOOTER */
#footer {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 2.5s ease-in-out;
    background: white;
    max-height: 7%;

}

#footer.show {
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7%; /* Height of the footer */

    text-align: center;

    visibility: visible;
    opacity: 1;
}

#copyright-text {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*SOCIAL MEDIA LINKS*/

/************/

/* DARK MODE */
body.dark, body.dark #header, body.dark #navbar, body.dark #footer.show, body.dark .nav-links, body.dark #footer body.card body.card-title body.card-content body.dark .card-date {
    background-color: #151315;
    color: #d4cdcd;
}

body.dark hr.between-cards {
    border: 0;
    max-width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 205, 205, 0.75), rgba(0, 0, 0, 0));
}

body.dark a.read-more-link {
    display: block;
    color: darkgray;
    text-decoration: none;
}

body.dark a.read-more-link:hover {
    background-color: #d4cdcd;
    color: #151315;
    text-decoration: none;
}

/************/

/* POPUP */


#imgLandscape, #imgPortrait {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-P {
    margin: auto;
    display: block;
    /*width: 90%;*/
    max-width: 800px;
    user-select: none;
}

.modal-content-L {
    margin: auto;
    display: block;
    /*width: 90%;*/
    max-width: 70%;
    user-select: none;
}


/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    /*font-weight: bold;*/
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #d4cdcd;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){*/
/*  .modal-content {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/************/

/* RESPONSIVENESS */
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) and (orientation: portrait)  {

        body {
        padding-bottom: 200px; /* Height of the page */
    }

    /* FONTS */
    /************/
    /* NAVBAR */
    .nav-link-div {
        padding-top: 15px;
        z-index: 100;
    }

    #navbar.sticky {
        max-height: 7%;
        z-index: 100;
    }

    .sticky {
        /*max-height: 7%;*/
        z-index: 100;
    }

    .sticky #logo {
        /*margin-top: 10px;*/
        /*font-size: 24px;*/
        margin: 0;
        /*background: yellow;*/
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    /************/
    /* BANNER */
    #cover-sentence {
        margin: 1%;
        /*padding: 1%;*/
        text-align: center;
        font-size: 20px;
        color: #151315;
        font-family: coverFont, sans-serif;
        text-transform: capitalize;
    }

    /************/
    /* CARD */
    .card {
        padding: 1px;
        margin: 50px 20px 50px 20px;

        /*height: 400px;*/
    }

    .card-title {
        font-size: 18px;
        width: 100%;
        position: relative; /* where the next element will be automatically positioned */
        display: inline-block; /* causes element width to shrink to fit content */
        left: 50%; /* moves left side of image/element to center of parent element */
        transform: translate(-50%); /* centers image/element on "left: 50%" position */

    }

    .card-cover-picture {
        height: 220px;
        width: 100%;
        max-width: 100%;

    }

    hr.between-cards {
        border: 0;
        /*margin-top: calc(100px + 7%);*/
        /*margin-bottom: 200px;*/
        margin-top: 100px;
        margin-bottom: 200px;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    /************/
    /* FOOTER */
    #footer.show {
        padding: 0;
    }

    #copyright-text {
        position: absolute;
        margin: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        font-size: 14px;
        font-weight: lighter;
    }

    /************/

}

/************/


/*EXPERIMENYAL*/




